In [1]:
import pandas as pd

In [2]:
df_dong = pd.read_csv("./결측치_채워준_월별데이터.csv")
df_dong = pd.DataFrame(df_dong)
df_dong

     Unnamed: 0          날짜  전월대비 등락률
0             0  2005-01-31       NaN
1             1  2005-02-28  8.433580
2             2  2005-03-31 -4.516690
3             3  2005-04-30 -4.893961
4             4  2005-05-31  5.639032
..          ...         ...       ...
202         202  2021-11-30 -4.697308
203         203  2021-12-31  5.275078
204         204  2022-01-31 -9.400188
205         205  2022-02-28 -0.319076
206         206  2022-03-31  2.166213

[207 rows x 3 columns]

In [3]:
df_jung = pd.read_csv("./전월대비_등락률.csv")
df_jung = pd.DataFrame(df_jung)
df_jung

     Unnamed: 0          날짜  전월대비 등락률
0             0  2005-01-31       NaN
1             1  2005-02-28  0.084336
2             2  2005-03-31 -0.045167
3             3  2005-04-29 -0.056313
4             4  2005-05-31  0.064644
..          ...         ...       ...
203         203  2021-12-30  0.048834
204         204  2022-01-28 -0.105556
205         205  2022-02-28  0.013457
206         206  2022-03-31  0.021662
207         207  2022-04-25 -0.036451

[208 rows x 3 columns]

In [4]:
#코스피 종가, 등락률 불러오기
import FinanceDataReader as fdr
kospi_df = fdr.DataReader('KS11', '2004-12-01','2005-02-01')
kospi_df

             Close    Open    High     Low       Volume  Change
Date
2004-12-01  876.80  874.47  878.91  871.13  316630000.0 -0.0014
2004-12-02  884.10  891.14  893.51  882.58  335560000.0  0.0083
2004-12-03  882.55  890.59  893.42  877.46  331020000.0 -0.0018
2004-12-06  870.75  875.53  876.38  867.70  280850000.0 -0.0134
2004-12-07  861.07  867.83  872.39  861.07  336160000.0 -0.0111
2004-12-08  871.74  855.53  871.74  855.07  346290000.0  0.0124
2004-12-09  861.31  870.61  871.87  855.88  268370000.0 -0.0120
2004-12-10  844.85  862.16  862.77  841.77  259800000.0 -0.0191
2004-12-13  844.20  841.34  847.92  838.10  239840000.0 -0.0008
2004-12-14  849.40  846.02  852.26  842.70  277260000.0  0.0062
2004-12-15  868.84  854.99  868.87  853.64  311210000.0  0.0229
2004-12-16  873.70  869.92  878.67  868.90  325690000.0  0.0056
2004-12-17  875.13  874.23  880.95  868.61  446430000.0  0.0016
2004-12-20  884.31  872.30  884.49  870.60  359900000.0  0.0105
2004-12-21  882.82  882.90  887.38  876.35  350620000.0 -0.0017
2004-12-22  883.38  888.20  890.81  880.38  325400000.0  0.0006
2004-12-23  876.88  890.32  890.32  873.11  272300000.0 -0.0074
2004-12-24  879.92  877.40  879.92  872.92  283180000.0  0.0035
2004-12-27  876.98  881.82  882.78  873.84  229730000.0 -0.0033
2004-12-28  878.43  874.53  881.28  872.33  307690000.0  0.0017
2004-12-29  884.27  869.23  884.27  868.04  257900000.0  0.0066
2004-12-30  895.92  886.20  896.10  885.43  248580000.0  0.0132
2005-01-03  893.71  896.00  897.59  890.93  252570000.0 -0.0025
2005-01-04  886.90  890.56  895.40  884.94  331630000.0 -0.0076
2005-01-05  885.19  874.92  885.20  873.18  343140000.0 -0.0019
2005-01-06  871.28  878.23  886.31  871.28  394700000.0 -0.0157
2005-01-07  870.84  876.36  878.89  866.72  294800000.0 -0.0005
2005-01-10  874.18  872.82  875.00  866.17  275960000.0  0.0038
2005-01-11  884.29  874.79  884.29  869.91  364430000.0  0.0116
2005-01-12  880.03  884.47  886.79  878.03  321630000.0 -0.0048
2005-01-13  885.54  881.39  886.73  876.72  290670000.0  0.0063
2005-01-14  905.10  879.83  905.52  877.44  356840000.0  0.0221
2005-01-17  923.08  915.22  925.01  912.68  416680000.0  0.0199
2005-01-18  920.57  923.52  926.85  920.08  432800000.0 -0.0027
2005-01-19  916.27  923.36  926.71  914.30  415610000.0 -0.0047
2005-01-20  909.37  910.40  914.93  907.51  467070000.0 -0.0075
2005-01-21  919.61  910.04  920.35  906.23  463480000.0  0.0113
2005-01-24  923.11  918.21  928.52  911.75  527620000.0  0.0038
2005-01-25  915.10  915.94  918.08  911.26  486450000.0 -0.0087
2005-01-26  927.00  918.75  930.20  917.09  492320000.0  0.0130
2005-01-27  924.87  928.67  930.59  920.93  500470000.0 -0.0023
2005-01-28  921.59  924.09  924.91  915.74  393170000.0 -0.0035
2005-01-31  932.70  920.99  934.10  920.99  466830000.0  0.0121
2005-02-01  923.69  930.16  931.86  923.08  434700000.0 -0.0097

In [5]:
df_jung["전월대비 등락률"][0] = (kospi_df['Close']['2005-01-31'] - kospi_df['Close']['2004-12-30'])/kospi_df['Close']['2004-12-30']

C:\ProgramData\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
kospi_df_2 = fdr.DataReader('KS11', '2022-03-01','2022-05-01')
kospi_df_2

              Close     Open     High      Low        Volume  Change
Date
2022-03-02  2703.52  2698.31  2716.46  2692.24  5.279500e+08  0.0016
2022-03-03  2747.08  2729.86  2748.21  2726.35  6.145100e+08  0.0161
2022-03-04  2713.43  2736.58  2736.58  2702.34  7.656800e+08 -0.0122
2022-03-07  2651.31  2680.17  2680.17  2644.10  5.715600e+08 -0.0229
2022-03-08  2622.40  2617.33  2647.18  2605.81  5.403700e+08 -0.0109
2022-03-10  2680.32  2660.86  2682.79  2660.86  6.138100e+08  0.0221
2022-03-11  2661.28  2665.95  2672.62  2647.28  7.970300e+08 -0.0071
2022-03-14  2645.65  2654.93  2661.76  2633.31  6.363200e+08 -0.0059
2022-03-15  2621.53  2630.31  2641.97  2615.08  6.041800e+08 -0.0091
2022-03-16  2659.23  2649.85  2659.90  2630.03  7.363500e+08  0.0144
2022-03-17  2694.51  2703.27  2714.00  2694.51  5.460800e+08  0.0133
2022-03-18  2707.02  2695.64  2708.16  2688.71  6.440200e+08  0.0046
2022-03-21  2686.05  2717.81  2717.81  2683.69  5.024000e+08 -0.0077
2022-03-22  2710.00  2686.68  2712.14  2686.58  4.894400e+08  0.0089
2022-03-23  2735.05  2727.12  2742.27  2720.83  8.833700e+08  0.0092
2022-03-24  2729.66  2716.25  2729.66  2705.14  9.609000e+08 -0.0020
2022-03-25  2729.98  2740.83  2740.95  2722.36  6.027700e+08  0.0001
2022-03-28  2729.56  2721.22  2737.46  2707.74  7.680400e+08 -0.0002
2022-03-29  2741.07  2745.62  2754.18  2733.22  7.321600e+08  0.0042
2022-03-30  2746.74  2758.31  2760.60  2740.02  8.245100e+05  0.0021
2022-03-31  2757.65  2743.24  2765.20  2743.20  1.030000e+09  0.0040
2022-04-01  2739.85  2745.85  2745.85  2729.68  1.310000e+09 -0.0065
2022-04-04  2757.90  2729.86  2758.38  2722.45  1.020000e+09  0.0066
2022-04-05  2759.20  2765.50  2769.18  2750.50  1.610000e+09  0.0005
2022-04-06  2735.03  2739.07  2747.85  2730.66  1.320000e+09 -0.0088
2022-04-07  2695.86  2714.70  2718.50  2693.36  9.992800e+08 -0.0143
2022-04-08  2700.39  2706.64  2712.00  2685.52  9.483600e+08  0.0017
2022-04-11  2693.10  2687.54  2711.02  2683.96  7.426000e+08 -0.0027
2022-04-12  2666.76  2674.17  2685.08  2658.40  8.709700e+08 -0.0098
2022-04-13  2716.49  2677.53  2717.63  2672.60  7.332400e+08  0.0186
2022-04-14  2716.71  2719.34  2720.30  2702.61  6.653500e+08  0.0001
2022-04-15  2696.06  2695.52  2705.41  2685.01  6.937200e+08 -0.0076
2022-04-18  2693.21  2685.04  2701.11  2681.37  1.020000e+09 -0.0011
2022-04-19  2718.89  2707.76  2723.98  2705.32  1.260000e+09  0.0095
2022-04-20  2718.69  2718.49  2724.46  2702.84  1.740000e+09 -0.0001
2022-04-21  2728.21  2725.71  2737.54  2725.04  1.000000e+09  0.0035
2022-04-22  2704.71  2704.72  2708.58  2690.48  1.240000e+09 -0.0086
2022-04-25  2657.13  2676.67  2680.35  2657.04  9.883500e+05 -0.0176
2022-04-26  2668.31  2674.00  2678.05  2663.83  8.899400e+08  0.0042
2022-04-27  2639.06  2630.58  2641.82  2615.50  1.070000e+09 -0.0110
2022-04-28  2667.49  2656.54  2667.49  2638.37  8.991700e+08  0.0108
2022-04-29  2695.05  2669.18  2696.10  2664.06  9.624000e+05  0.0103

In [7]:
df_jung["전월대비 등락률"][207] = (kospi_df_2['Close']['2022-04-29'] - kospi_df_2['Close']['2022-03-31'])/kospi_df_2['Close']['2022-03-31']

C:\ProgramData\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df_jung

     Unnamed: 0          날짜  전월대비 등락률
0             0  2005-01-31  0.041053
1             1  2005-02-28  0.084336
2             2  2005-03-31 -0.045167
3             3  2005-04-29 -0.056313
4             4  2005-05-31  0.064644
..          ...         ...       ...
203         203  2021-12-30  0.048834
204         204  2022-01-28 -0.105556
205         205  2022-02-28  0.013457
206         206  2022-03-31  0.021662
207         207  2022-04-25 -0.022700

[208 rows x 3 columns]

In [9]:
df_jung.drop(["Unnamed: 0","날짜"],axis=1,inplace=True)

In [10]:
df_jung

     전월대비 등락률
0    0.041053
1    0.084336
2   -0.045167
3   -0.056313
4    0.064644
..        ...
203  0.048834
204 -0.105556
205  0.013457
206  0.021662
207 -0.022700

[208 rows x 1 columns]

In [38]:
df = pd.read_csv("./pre_fore_sum.csv")
df = pd.DataFrame(df)
df

     Unnamed: 0       날짜  외국인순매수
0             0  2005 01    8538
1             1  2005 02   14654
2             2  2005 03  -20741
3             3  2005 04   -3243
4             4  2005 05    1048
..          ...      ...     ...
203         203  2021 12   15250
204         204  2022 01    -389
205         205  2022 02   -6207
206         206  2022 03  -23373
207         207  2022 04  -19037

[208 rows x 3 columns]

In [39]:
df = df.join(df_jung)
df

     Unnamed: 0       날짜  외국인순매수  전월대비 등락률
0             0  2005 01    8538  0.041053
1             1  2005 02   14654  0.084336
2             2  2005 03  -20741 -0.045167
3             3  2005 04   -3243 -0.056313
4             4  2005 05    1048  0.064644
..          ...      ...     ...       ...
203         203  2021 12   15250  0.048834
204         204  2022 01    -389 -0.105556
205         205  2022 02   -6207  0.013457
206         206  2022 03  -23373  0.021662
207         207  2022 04  -19037 -0.022700

[208 rows x 4 columns]

In [42]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [43]:
df

          날짜  외국인순매수  전월대비 등락률
0    2005 01    8538  0.041053
1    2005 02   14654  0.084336
2    2005 03  -20741 -0.045167
3    2005 04   -3243 -0.056313
4    2005 05    1048  0.064644
..       ...     ...       ...
203  2021 12   15250  0.048834
204  2022 01    -389 -0.105556
205  2022 02   -6207  0.013457
206  2022 03  -23373  0.021662
207  2022 04  -19037 -0.022700

[208 rows x 3 columns]

In [40]:
df.to_csv('일별 이상치를 제거한 월별 외국인순매수 합과 전월대비 등락률_최종.csv')

In [20]:
#월별 외국인순매수 합 이상치 제거
df.describe()

              외국인순매수    전월대비 등락률
count     208.000000  208.000000
mean    -2958.149038    0.006671
std     29261.624766    0.051956
min   -125177.000000   -0.231344
25%    -18994.500000   -0.020623
50%     -1287.000000    0.008912
75%     14853.750000    0.036119
max     75554.000000    0.142995

In [21]:
Q1=-18994.500000	
Q3=14853.750000
IQR=Q3-Q1

In [22]:
Q1-1.5*IQR

-69766.875

In [23]:
Q3+1.5*IQR

65626.125

In [24]:
mask =(df['외국인순매수']>=(-69766.875))& (df['외국인순매수']<=(65626.125))
df_nn = df.loc[mask]
df_nn

          날짜  외국인순매수  전월대비 등락률
0    2005 01    8538  0.041053
1    2005 02   14654  0.084336
2    2005 03  -20741 -0.045167
3    2005 04   -3243 -0.056313
4    2005 05    1048  0.064644
..       ...     ...       ...
203  2021 12   33524  0.048834
204  2022 01  -18614 -0.105556
205  2022 02    8065  0.013457
206  2022 03  -50908  0.021662
207  2022 04  -39098 -0.022700

[203 rows x 3 columns]

In [25]:
df_nn.reset_index(drop=True,inplace= True)
df_nn

          날짜  외국인순매수  전월대비 등락률
0    2005 01    8538  0.041053
1    2005 02   14654  0.084336
2    2005 03  -20741 -0.045167
3    2005 04   -3243 -0.056313
4    2005 05    1048  0.064644
..       ...     ...       ...
198  2021 12   33524  0.048834
199  2022 01  -18614 -0.105556
200  2022 02    8065  0.013457
201  2022 03  -50908  0.021662
202  2022 04  -39098 -0.022700

[203 rows x 3 columns]

In [26]:
df_nn.to_csv('월별 외국인순매수 합과 전월대비 등락률_최종_월별 외국인순매수 합 이상치제거.csv')

In [27]:
Q1=-0.020623	
Q3=0.036119
IQR=Q3-Q1

In [28]:
Q1-1.5*IQR

-0.105736

In [29]:
Q3+1.5*IQR

0.12123199999999999

In [31]:
mask =(df_nn['전월대비 등락률']>=(-0.105736))& (df_nn['전월대비 등락률']<=(0.12123199999999999))
df_nnn = df_nn.loc[mask]
df_nnn

          날짜  외국인순매수  전월대비 등락률
0    2005 01    8538  0.041053
1    2005 02   14654  0.084336
2    2005 03  -20741 -0.045167
3    2005 04   -3243 -0.056313
4    2005 05    1048  0.064644
..       ...     ...       ...
198  2021 12   33524  0.048834
199  2022 01  -18614 -0.105556
200  2022 02    8065  0.013457
201  2022 03  -50908  0.021662
202  2022 04  -39098 -0.022700

[196 rows x 3 columns]

In [33]:
df_nnn.to_csv('월별 외국인순매수 합과 전월대비 등락률_최종_월별 외국인순매수 합과 전월대비등락률 이상치제거.csv')