In [1]:
# 키움 OPEN API로 추출한 삼성 일별 주가
import pandas as pd
ss_df = pd.read_csv('./samsung_data.csv')
ss_df = pd.DataFrame(ss_df)
ss_df

,Unnamed: 0,날짜,시가,고가,저가,종가,전일비,등락률,거래량,금액(백만),...,외국계,프로그램,외인비,체결강도,외인보유,외인비중,외인순매수,기관순매수,개인순매수,신용잔고율
0,0,20220425.0,-66500.0,-66700.0,-66300.0,-66300.0,-700.0,-1.04,11016474.0,731676.0,...,--87424,--135222,51.08,NaN,51.08,51.08,--2941618,--101900,+293513,0.00
1,1,20220422.0,-67200.0,-67300.0,-66700.0,-67000.0,-700.0,-1.03,11791478.0,789392.0,...,--41748,--23210,51.13,NaN,51.13,51.13,--528882,--183096,+209460,0.18
2,2,20220421.0,67600.0,68300.0,67500.0,67700.0,300.0,0.45,12847448.0,872983.0,...,--51036,+29729,51.14,NaN,51.14,51.14,--6754,+135745,--79887,0.17
3,3,20220420.0,-67000.0,67400.0,-66500.0,67400.0,100.0,0.15,16693293.0,1116161.0,...,--127560,+57730,51.14,NaN,51.14,51.14,--2097403,--85891,+211059,0.17
4,4,20220419.0,67100.0,68000.0,67000.0,67300.0,600.0,0.90,12959434.0,876088.0,...,--56548,--6265,51.17,NaN,51.17,51.17,--1082110,+100366,+11591,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9852,12,19850108.0,8400.0,8400.0,8300.0,8300.0,110.0,1.33,12930.0,4.0,...,0,0,0.00,NaN,0.00,0.00,0,0,0,0.00
9853,13,19850107.0,-8400.0,8500.0,-8390.0,8410.0,20.0,0.24,11810.0,3.0,...,0,0,0.00,NaN,0.00,0.00,0,0,0,0.00
9854,14,19850105.0,8400.0,8440.0,8390.0,8390.0,60.0,0.72,1660.0,0.0,...,0,0,0.00,NaN,0.00,0.00,0,0,0,0.00
9855,15,19850104.0,8500.0,8500.0,8450.0,8450.0,0.0,0.00,1710.0,0.0,...,0,0,0.00,NaN,0.00,0.00,0,0,0,0.00
9856,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
del ss_df['Unnamed: 0']
ss_df.reset_index(drop=True,inplace= True)

In [3]:
ss_df.drop(['시가', '고가', '저가', '전일비','거래량','금액(백만)','신용비','개인','기관','외인수량','외국계','프로그램','외인비','체결강도','외인보유','외인비중','신용잔고율'], axis=1, inplace=True)

In [4]:
ss_df.dtypes

날짜       float64
종가       float64
등락률      float64
외인순매수     object
기관순매수     object
개인순매수     object
dtype: object

In [5]:
ss_df

              날짜       종가   등락률      외인순매수     기관순매수    개인순매수
0     20220425.0 -66300.0 -1.04  --2941618  --101900  +293513
1     20220422.0 -67000.0 -1.03   --528882  --183096  +209460
2     20220421.0  67700.0  0.45     --6754   +135745  --79887
3     20220420.0  67400.0  0.15  --2097403   --85891  +211059
4     20220419.0  67300.0  0.90  --1082110   +100366   +11591
...          ...      ...   ...        ...       ...      ...
9852  19850108.0   8300.0  1.33          0         0        0
9853  19850107.0   8410.0  0.24          0         0        0
9854  19850105.0   8390.0  0.72          0         0        0
9855  19850104.0   8450.0  0.00          0         0        0
9856         NaN      NaN   NaN        NaN       NaN      NaN

[9857 rows x 6 columns]

In [8]:
# 결측치 제거
# 날짜데이터(float64) -> datetime
# 종가(float64) -> int64로 변경 후 절대값
# 외인순매수 기관순매수	개인순매수 (object) -> "--"값을 "-"로 변경 후 int64로

In [6]:
ss_df = ss_df.dropna(axis=0,how='all',subset= None)
ss_df

              날짜       종가   등락률      외인순매수     기관순매수    개인순매수
0     20220425.0 -66300.0 -1.04  --2941618  --101900  +293513
1     20220422.0 -67000.0 -1.03   --528882  --183096  +209460
2     20220421.0  67700.0  0.45     --6754   +135745  --79887
3     20220420.0  67400.0  0.15  --2097403   --85891  +211059
4     20220419.0  67300.0  0.90  --1082110   +100366   +11591
...          ...      ...   ...        ...       ...      ...
9851  19850109.0   8010.0  3.62          0         0        0
9852  19850108.0   8300.0  1.33          0         0        0
9853  19850107.0   8410.0  0.24          0         0        0
9854  19850105.0   8390.0  0.72          0         0        0
9855  19850104.0   8450.0  0.00          0         0        0

[9856 rows x 6 columns]

In [13]:
#import datetime

#ss_df["날짜"] = pd.to_datetime(ss_df["날짜"])

ss_df["날짜"]=ss_df["날짜"].astype("int64")

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [7]:
#절대값 변환 함수
def _abs(list):
    new_list = []
    for i in range(len(list)):
        list[i]= abs(list[i])
        new_list.append(list[i])
    return new_list

#int64로 변환 
ss_df["종가"].astype("int64")

ss_df["종가"]=_abs(ss_df["종가"])

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [8]:
#object 일때 문자열 replace하는 함수

def del_minus(list):
    new_list = []
    for i in range(len(list)):
        list[i]=list[i].replace('--','-')
        list[i]=list[i].replace('+-','-')
        new_list.append(list[i])
    return new_list


ss_df["외인순매수"]=del_minus(ss_df["외인순매수"])
ss_df["기관순매수"]=del_minus(ss_df["기관순매수"])
ss_df["개인순매수"]=del_minus(ss_df["개인순매수"])

# 후에 int64로 변환
ss_df[["외인순매수","기관순매수","개인순매수"]]=ss_df[["외인순매수","기관순매수","개인순매수"]].astype("int64")

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\pandas\core\frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
ss_df

            날짜       종가   등락률    외인순매수   기관순매수   개인순매수
0     20220425  66300.0 -1.04 -2941618 -101900  293513
1     20220422  67000.0 -1.03  -528882 -183096  209460
2     20220421  67700.0  0.45    -6754  135745  -79887
3     20220420  67400.0  0.15 -2097403  -85891  211059
4     20220419  67300.0  0.90 -1082110  100366   11591
...        ...      ...   ...      ...     ...     ...
9851  19850109   8010.0  3.62        0       0       0
9852  19850108   8300.0  1.33        0       0       0
9853  19850107   8410.0  0.24        0       0       0
9854  19850105   8390.0  0.72        0       0       0
9855  19850104   8450.0  0.00        0       0       0

[9856 rows x 6 columns]

In [ ]:
ss_df.dtypes

In [ ]:
ss_df.to_csv("pre_samsung.csv")

In [1]:
import pandas as pd
ss_df = pd.read_csv('./pre_samsung.csv')
ss_df

      Unnamed: 0        날짜       종가   등락률    외인순매수   기관순매수   개인순매수
0              0  20220425  66300.0 -1.04 -2941618 -101900  293513
1              1  20220422  67000.0 -1.03  -528882 -183096  209460
2              2  20220421  67700.0  0.45    -6754  135745  -79887
3              3  20220420  67400.0  0.15 -2097403  -85891  211059
4              4  20220419  67300.0  0.90 -1082110  100366   11591
...          ...       ...      ...   ...      ...     ...     ...
9851        9851  19850109   8010.0  3.62        0       0       0
9852        9852  19850108   8300.0  1.33        0       0       0
9853        9853  19850107   8410.0  0.24        0       0       0
9854        9854  19850105   8390.0  0.72        0       0       0
9855        9855  19850104   8450.0  0.00        0       0       0

[9856 rows x 7 columns]

In [2]:
del ss_df['Unnamed: 0']

In [3]:
ss_df["날짜"] =ss_df["날짜"].astype("str")
ss_df["날짜"]=pd.to_datetime(ss_df["날짜"])

In [4]:
ss_df

             날짜       종가   등락률    외인순매수   기관순매수   개인순매수
0    2022-04-25  66300.0 -1.04 -2941618 -101900  293513
1    2022-04-22  67000.0 -1.03  -528882 -183096  209460
2    2022-04-21  67700.0  0.45    -6754  135745  -79887
3    2022-04-20  67400.0  0.15 -2097403  -85891  211059
4    2022-04-19  67300.0  0.90 -1082110  100366   11591
...         ...      ...   ...      ...     ...     ...
9851 1985-01-09   8010.0  3.62        0       0       0
9852 1985-01-08   8300.0  1.33        0       0       0
9853 1985-01-07   8410.0  0.24        0       0       0
9854 1985-01-05   8390.0  0.72        0       0       0
9855 1985-01-04   8450.0  0.00        0       0       0

[9856 rows x 6 columns]

In [8]:
ss_df =ss_df[ss_df['날짜']>='2006-01-01']

In [9]:
ss_df

             날짜        종가   등락률    외인순매수   기관순매수   개인순매수
0    2022-04-25   66300.0 -1.04 -2941618 -101900  293513
1    2022-04-22   67000.0 -1.03  -528882 -183096  209460
2    2022-04-21   67700.0  0.45    -6754  135745  -79887
3    2022-04-20   67400.0  0.15 -2097403  -85891  211059
4    2022-04-19   67300.0  0.90 -1082110  100366   11591
...         ...       ...   ...      ...     ...     ...
4027 2006-01-06  687000.0  1.18    24239   -5904  -13316
4028 2006-01-05  679000.0 -2.86   -81377   36641   14832
4029 2006-01-04  699000.0  5.11    91712   74246 -145565
4030 2006-01-03  665000.0  0.91    -4843   -2029   -2793
4031 2006-01-02  659000.0  0.00    17422  -24881   10097

[4032 rows x 6 columns]

In [10]:
ss_df.to_csv("pre_samsung_2006.csv")