## **최종데이터 셋 만들기**

#### **이상치 제거한 개인&기관&외국인순매수량 월별 합과 월말 코스피 종가&등락률 join**

##### 사용한 데이터 셋
1. 이상치제거한월별외국인순매수와종가합.csv <br>
2. 이상치제거한_개인기관순매수_월별합.csv <br>
-> 두개 데이터 합쳐서 최종 데이터 셋 만들기

In [1]:
import pandas as pd

In [5]:
foreign_kospi=pd.read_csv('./data/이상치제거한월별외국인순매수와종가합.csv')
company_person = pd.read_csv('./data/이상치제거한_개인기관순매수_월별합.csv')

In [6]:
foreign_kospi

     Unnamed: 0          날짜           종가  전월대비 등락률    년도   월     date  외국인순매수
0             0  2005-01-31   932.700012  0.041053  2005   1  2005 01    8538
1             1  2005-02-28  1011.359985  0.084336  2005   2  2005 02   14654
2             2  2005-03-31   965.679993 -0.045167  2005   3  2005 03  -20741
3             3  2005-04-29   911.299988 -0.056313  2005   4  2005 04   -3243
4             4  2005-05-31   970.210022  0.064644  2005   5  2005 05    1048
..          ...         ...          ...       ...   ...  ..      ...     ...
203         203  2021-12-30  2977.649902  0.048834  2021  12  2021 12   15250
204         204  2022-01-28  2663.340088 -0.105556  2022   1  2022 01    -389
205         205  2022-02-28  2699.179932  0.013457  2022   2  2022 02   -6207
206         206  2022-03-31  2757.649902  0.021662  2022   3  2022 03  -23373
207         207  2022-04-22  2704.709961 -0.022700  2022   4  2022 04  -19037

[208 rows x 8 columns]

In [7]:
company_person

     Unnamed: 0    년도   월  개인순매수  기관순매수
0             0  2005   1  -9523    984
1             1  2005   2  -5725  -8928
2             2  2005   3   3820  16920
3             3  2005   4   2291    955
4             4  2005   5 -18304  17254
..          ...   ...  ..    ...    ...
203         203  2021  12 -30452  15846
204         204  2022   1  12674   6687
205         205  2022   2 -10135  -3629
206         206  2022   3  -3604   6022
207         207  2022   4   7021   6048

[208 rows x 5 columns]

### kospi있는 곳에 개인순매수/기관순매수 합치기

In [11]:
foreign_kospi['개인순매수'] = company_person['개인순매수']
foreign_kospi['기관순매수'] = company_person['기관순매수']

In [12]:
finish_data=foreign_kospi[['날짜','date','년도','월','종가','전월대비 등락률','외국인순매수','개인순매수','기관순매수']]

In [13]:
finish_data

,날짜,date,년도,월,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수
0,2005-01-31,2005 01,2005,1,932.700012,0.041053,8538,-9523,984
1,2005-02-28,2005 02,2005,2,1011.359985,0.084336,14654,-5725,-8928
2,2005-03-31,2005 03,2005,3,965.679993,-0.045167,-20741,3820,16920
3,2005-04-29,2005 04,2005,4,911.299988,-0.056313,-3243,2291,955
4,2005-05-31,2005 05,2005,5,970.210022,0.064644,1048,-18304,17254
...,...,...,...,...,...,...,...,...,...
203,2021-12-30,2021 12,2021,12,2977.649902,0.048834,15250,-30452,15846
204,2022-01-28,2022 01,2022,1,2663.340088,-0.105556,-389,12674,6687
205,2022-02-28,2022 02,2022,2,2699.179932,0.013457,-6207,-10135,-3629
206,2022-03-31,2022 03,2022,3,2757.649902,0.021662,-23373,-3604,6022
207,2022-04-22,2022 04,2022,4,2704.709961,-0.022700,-19037,7021,6048

In [14]:
#최종데이터 셋 만들기
finish_data.to_csv('최종데이터셋_주체모두_코스피종가_등락률까지.csv')