In [2]:
import pandas as pd
import numpy as np

In [3]:
final=pd.read_csv('./data/더미변수없는최종데이터206행.csv')

final['동행지수']
final=pd.DataFrame(final)
final.set_index('날짜',inplace=True)
final

,Unnamed: 0,년도,월,전월대비 등락률,등락률(%),등락률label,외국인순매수,기관순매수,개인순매수,시가총액대비,동행지수,100기준동행지수
날짜,,,,,,,,,,,,
2005-01-31,0,2005,1,0.041053,4.105277,1,8538,984,-9523,42.9,99.0,0
2005-02-28,1,2005,2,0.084336,8.433577,1,14654,-8928,-5725,42.7,98.7,0
2005-03-31,2,2005,3,-0.045167,-4.516690,0,-20741,16920,3820,42.2,98.8,0
2005-04-29,3,2005,4,-0.056313,-5.631266,0,-3243,955,2291,41.9,98.6,0
2005-05-31,4,2005,5,0.064644,6.464395,1,1048,17254,-18304,41.7,98.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,201,2021,11,-0.044323,-4.432316,0,11342,-27380,16641,33.0,101.1,1
2021-12-30,202,2021,12,0.048834,4.883389,1,15250,15846,-30452,33.5,101.8,1
2022-01-28,203,2022,1,-0.105556,-10.555634,0,-389,6687,12674,32.7,102.4,1
2022-02-28,204,2022,2,0.013457,1.345673,1,-6207,-3629,-10135,32.4,102.6,1
2022-03-31,205,2022,3,0.021662,2.166212,1,-23373,6022,-3604,31.6,102.4,1

In [4]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, 2005-01-31 to 2022-03-31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  206 non-null    int64
 1   년도          206 non-null    int64
 2   월           206 non-null    int64
 3   전월대비 등락률    206 non-null    float64
 4   등락률(%)      206 non-null    float64
 5   등락률label    206 non-null    int64
 6   외국인순매수      206 non-null    int64
 7   기관순매수       206 non-null    int64
 8   개인순매수       206 non-null    int64
 9   시가총액대비      206 non-null    float64
 10  동행지수        206 non-null    float64
 11  100기준동행지수   206 non-null    int64
dtypes: float64(4), int64(8)
memory usage: 20.9+ KB

In [5]:
final

,Unnamed: 0,년도,월,전월대비 등락률,등락률(%),등락률label,외국인순매수,기관순매수,개인순매수,시가총액대비,동행지수,100기준동행지수
날짜,,,,,,,,,,,,
2005-01-31,0,2005,1,0.041053,4.105277,1,8538,984,-9523,42.9,99.0,0
2005-02-28,1,2005,2,0.084336,8.433577,1,14654,-8928,-5725,42.7,98.7,0
2005-03-31,2,2005,3,-0.045167,-4.516690,0,-20741,16920,3820,42.2,98.8,0
2005-04-29,3,2005,4,-0.056313,-5.631266,0,-3243,955,2291,41.9,98.6,0
2005-05-31,4,2005,5,0.064644,6.464395,1,1048,17254,-18304,41.7,98.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,201,2021,11,-0.044323,-4.432316,0,11342,-27380,16641,33.0,101.1,1
2021-12-30,202,2021,12,0.048834,4.883389,1,15250,15846,-30452,33.5,101.8,1
2022-01-28,203,2022,1,-0.105556,-10.555634,0,-389,6687,12674,32.7,102.4,1
2022-02-28,204,2022,2,0.013457,1.345673,1,-6207,-3629,-10135,32.4,102.6,1
2022-03-31,205,2022,3,0.021662,2.166212,1,-23373,6022,-3604,31.6,102.4,1

In [6]:
# diff를 통해 차분시행 후, 데이터 Nan 값 제거

kospi_diff = final.diff(1)['동행지수']
kospi_diff = pd.DataFrame(kospi_diff)
print('diff 후 \n', kospi_diff.head())

print('-'*10)
# shift를 통해 1/4일 데이터를 1/5일로 미룸

kospi_shift = final['동행지수'].shift(1)
kospi_shift = pd.DataFrame(kospi_shift)
print('shift 후 \n', kospi_shift.head())

diff 후
             동행지수
날짜
2005-01-31   NaN
2005-02-28  -0.3
2005-03-31   0.1
2005-04-29  -0.2
2005-05-31   0.1
----------
shift 후
             동행지수
날짜
2005-01-31   NaN
2005-02-28  99.0
2005-03-31  98.7
2005-04-29  98.8
2005-05-31  98.6

In [8]:
final['동행지수등락률']= (kospi_diff / kospi_shift) * 100
#final.drop('등락률',axis=1,inplace=True)
final.sort_index(ascending=False)

final

,Unnamed: 0,년도,월,전월대비 등락률,등락률(%),등락률label,외국인순매수,기관순매수,개인순매수,시가총액대비,동행지수,100기준동행지수,동행지수등락률
날짜,,,,,,,,,,,,,
2005-01-31,0,2005,1,0.041053,4.105277,1,8538,984,-9523,42.9,99.0,0,NaN
2005-02-28,1,2005,2,0.084336,8.433577,1,14654,-8928,-5725,42.7,98.7,0,-0.303030
2005-03-31,2,2005,3,-0.045167,-4.516690,0,-20741,16920,3820,42.2,98.8,0,0.101317
2005-04-29,3,2005,4,-0.056313,-5.631266,0,-3243,955,2291,41.9,98.6,0,-0.202429
2005-05-31,4,2005,5,0.064644,6.464395,1,1048,17254,-18304,41.7,98.7,0,0.101420
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,201,2021,11,-0.044323,-4.432316,0,11342,-27380,16641,33.0,101.1,1,0.198216
2021-12-30,202,2021,12,0.048834,4.883389,1,15250,15846,-30452,33.5,101.8,1,0.692384
2022-01-28,203,2022,1,-0.105556,-10.555634,0,-389,6687,12674,32.7,102.4,1,0.589391
2022-02-28,204,2022,2,0.013457,1.345673,1,-6207,-3629,-10135,32.4,102.6,1,0.195312
2022-03-31,205,2022,3,0.021662,2.166212,1,-23373,6022,-3604,31.6,102.4,1,-0.194932

In [9]:
#NAN값 채우기
final.loc['2005-01-31','동행지수등락률']=-0.1

In [10]:
final['동행등락label']=np.arange(206)
for i in range(206):
    if final['동행지수등락률'][i]>=0:
        final['동행등락label'][i]=1
    else:
        final['동행등락label'][i]=0

C:\Users\user\AppData\Local\Temp\ipykernel_13464\3888220496.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['동행등락label'][i]=0
C:\Users\user\AppData\Local\Temp\ipykernel_13464\3888220496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['동행등락label'][i]=1

In [11]:
final.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
final.to_csv('end.csv')

In [16]:
final

,년도,월,전월대비 등락률,등락률(%),등락률label,외국인순매수,기관순매수,개인순매수,시가총액대비,동행지수,100기준동행지수,동행지수등락률,동행등락label
날짜,,,,,,,,,,,,,
2005-01-31,2005,1,0.041053,4.105277,1,8538,984,-9523,42.9,99.0,0,-0.100000,0
2005-02-28,2005,2,0.084336,8.433577,1,14654,-8928,-5725,42.7,98.7,0,-0.303030,0
2005-03-31,2005,3,-0.045167,-4.516690,0,-20741,16920,3820,42.2,98.8,0,0.101317,1
2005-04-29,2005,4,-0.056313,-5.631266,0,-3243,955,2291,41.9,98.6,0,-0.202429,0
2005-05-31,2005,5,0.064644,6.464395,1,1048,17254,-18304,41.7,98.7,0,0.101420,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,2021,11,-0.044323,-4.432316,0,11342,-27380,16641,33.0,101.1,1,0.198216,1
2021-12-30,2021,12,0.048834,4.883389,1,15250,15846,-30452,33.5,101.8,1,0.692384,1
2022-01-28,2022,1,-0.105556,-10.555634,0,-389,6687,12674,32.7,102.4,1,0.589391,1
2022-02-28,2022,2,0.013457,1.345673,1,-6207,-3629,-10135,32.4,102.6,1,0.195312,1
2022-03-31,2022,3,0.021662,2.166212,1,-23373,6022,-3604,31.6,102.4,1,-0.194932,0

In [17]:
final.columns

Index(['년도', '월', '전월대비 등락률', '등락률(%)', '등락률label', '외국인순매수', '기관순매수', '개인순매수',
       '시가총액대비', '동행지수', '100기준동행지수', '동행지수등락률', '동행등락label'],
      dtype='object')

In [18]:
final.columns = ['년도', '월', '전월대비 등락률', '등락률(%)', '등락률label', '외국인', '기관순', '개인',
       '시가총액', '동행지수', '100기준동행지수', '동행지수등락률', '동행등락label']

In [19]:
final

,년도,월,전월대비 등락률,등락률(%),등락률label,외국인,기관순,개인,시가총액,동행지수,100기준동행지수,동행지수등락률,동행등락label
날짜,,,,,,,,,,,,,
2005-01-31,2005,1,0.041053,4.105277,1,8538,984,-9523,42.9,99.0,0,-0.100000,0
2005-02-28,2005,2,0.084336,8.433577,1,14654,-8928,-5725,42.7,98.7,0,-0.303030,0
2005-03-31,2005,3,-0.045167,-4.516690,0,-20741,16920,3820,42.2,98.8,0,0.101317,1
2005-04-29,2005,4,-0.056313,-5.631266,0,-3243,955,2291,41.9,98.6,0,-0.202429,0
2005-05-31,2005,5,0.064644,6.464395,1,1048,17254,-18304,41.7,98.7,0,0.101420,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,2021,11,-0.044323,-4.432316,0,11342,-27380,16641,33.0,101.1,1,0.198216,1
2021-12-30,2021,12,0.048834,4.883389,1,15250,15846,-30452,33.5,101.8,1,0.692384,1
2022-01-28,2022,1,-0.105556,-10.555634,0,-389,6687,12674,32.7,102.4,1,0.589391,1
2022-02-28,2022,2,0.013457,1.345673,1,-6207,-3629,-10135,32.4,102.6,1,0.195312,1
2022-03-31,2022,3,0.021662,2.166212,1,-23373,6022,-3604,31.6,102.4,1,-0.194932,0