전체 X_features에서 로지스틱 회귀분석
==
최적 하이퍼 파라미터:{'C': 1, 'penalty': 'l2'}, 최적 평균 정확도:0.879
--

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.datasets import load_breast_cancer

In [23]:
df = pd.read_csv('C:/Users/jangd/OneDrive/사진/문서/GitHub/git_hub_0420/python/project/dataset/최종최종피쳐.csv')

In [24]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
df

,날짜,date,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수,시가총액대비,label,등락률label,...,월_3,월_4,월_5,월_6,월_7,월_8,월_9,월_10,월_11,월_12
0,2005-01-31,2005-01-01,932.700012,0.041053,8538,-9523,984,42.9,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2005-02-28,2005-02-01,1011.359985,0.084336,14654,-5725,-8928,42.7,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2005-03-31,2005-03-01,965.679993,-0.045167,-20741,3820,16920,42.2,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2005-04-29,2005-04-01,911.299988,-0.056313,-3243,2291,955,41.9,0,0,...,0,1,0,0,0,0,0,0,0,0
4,2005-05-31,2005-05-01,970.210022,0.064644,1048,-18304,17254,41.7,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,2021-11-30,2021-11-01,2839.010010,-0.044323,11342,16641,-27380,33.0,1,0,...,0,0,0,0,0,0,0,0,1,0
203,2021-12-30,2021-12-01,2977.649902,0.048834,15250,-30452,15846,33.5,1,1,...,0,0,0,0,0,0,0,0,0,1
204,2022-01-28,2022-01-01,2663.340088,-0.105556,-389,12674,6687,32.7,1,0,...,0,0,0,0,0,0,0,0,0,0
205,2022-02-28,2022-02-01,2699.179932,0.013457,-6207,-10135,-3629,32.4,1,1,...,0,0,0,0,0,0,0,0,0,0
206,2022-03-31,2022-03-01,2757.649902,0.021662,-23373,-3604,6022,31.6,1,1,...,1,0,0,0,0,0,0,0,0,0

In [26]:
_df = df.drop('등락률label',axis=1)

In [27]:
_df

,날짜,date,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수,시가총액대비,label,년도_2005,...,월_3,월_4,월_5,월_6,월_7,월_8,월_9,월_10,월_11,월_12
0,2005-01-31,2005-01-01,932.700012,0.041053,8538,-9523,984,42.9,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2005-02-28,2005-02-01,1011.359985,0.084336,14654,-5725,-8928,42.7,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2005-03-31,2005-03-01,965.679993,-0.045167,-20741,3820,16920,42.2,0,1,...,1,0,0,0,0,0,0,0,0,0
3,2005-04-29,2005-04-01,911.299988,-0.056313,-3243,2291,955,41.9,0,1,...,0,1,0,0,0,0,0,0,0,0
4,2005-05-31,2005-05-01,970.210022,0.064644,1048,-18304,17254,41.7,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,2021-11-30,2021-11-01,2839.010010,-0.044323,11342,16641,-27380,33.0,1,0,...,0,0,0,0,0,0,0,0,1,0
203,2021-12-30,2021-12-01,2977.649902,0.048834,15250,-30452,15846,33.5,1,0,...,0,0,0,0,0,0,0,0,0,1
204,2022-01-28,2022-01-01,2663.340088,-0.105556,-389,12674,6687,32.7,1,0,...,0,0,0,0,0,0,0,0,0,0
205,2022-02-28,2022-02-01,2699.179932,0.013457,-6207,-10135,-3629,32.4,1,0,...,0,0,0,0,0,0,0,0,0,0
206,2022-03-31,2022-03-01,2757.649902,0.021662,-23373,-3604,6022,31.6,1,0,...,1,0,0,0,0,0,0,0,0,0

In [28]:
df_target = df['등락률label']

In [29]:
df['등락률label'] = df['등락률label'].astype('category')

In [30]:
df['label'] = df['label'].astype('category')

In [31]:
_df.drop(['날짜','date'],axis=1,inplace=True)

In [33]:
_df

,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수,시가총액대비,label,년도_2005,년도_2006,년도_2007,...,월_3,월_4,월_5,월_6,월_7,월_8,월_9,월_10,월_11,월_12
0,932.700012,0.041053,8538,-9523,984,42.9,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1011.359985,0.084336,14654,-5725,-8928,42.7,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,965.679993,-0.045167,-20741,3820,16920,42.2,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,911.299988,-0.056313,-3243,2291,955,41.9,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,970.210022,0.064644,1048,-18304,17254,41.7,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,2839.010010,-0.044323,11342,16641,-27380,33.0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
203,2977.649902,0.048834,15250,-30452,15846,33.5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
204,2663.340088,-0.105556,-389,12674,6687,32.7,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
205,2699.179932,0.013457,-6207,-10135,-3629,32.4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206,2757.649902,0.021662,-23373,-3604,6022,31.6,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [34]:
# StandardScaler()로 평균이 0, 분산 1과 데이터 분포도 현황
scaler = StandardScaler()
data_scaled = scaler.fit_transform(_df)

X_train, X_test, y_train, y_test = train_test_split(
    data_scaled, df_target, test_size=0.3, random_state = 0)

In [35]:
# 로지스틱 회귀를 이용하여 학습 및 예측 수행. 
lr_clf = LogisticRegression()

lr_clf.fit(X_train, y_train)

lr_preds = lr_clf.predict(X_test)

# accuracy와 roc_auc 측정
print('accuracy: {:0.3f}'.format(accuracy_score(y_test, lr_preds)))
print('roc_auc: {:0.3f}'.format(roc_auc_score(y_test, lr_preds)))

accuracy: 0.873
roc_auc: 0.861

In [36]:
from sklearn.model_selection import GridSearchCV

params = {'penalty': ['l2', 'l1'], 'C': [0.01, 0.1, 1, 1, 5, 10]}

grid_clf = GridSearchCV(lr_clf, param_grid =params, scoring = 'accuracy', cv=3)
grid_clf.fit(data_scaled, df_target)
print('최적 하이퍼 파라미터:{0}, 최적 평균 정확도:{1:.3f}'.format(grid_clf.best_params_, grid_clf.best_score_))

최적 하이퍼 파라미터:{'C': 1, 'penalty': 'l2'}, 최적 평균 정확도:0.879

C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
18 fits failed out of a total of 36.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.78743961        nan 0.84541063        nan 0.87922705        nan
 0.87922705        nan 0.8647343         nan 0.85990338        nan]
  warnings.warn(

features_importance 상위 5개 features만 선별해서 로지스틱 회귀
==
최적 하이퍼 파라미터:{'C': 0.1, 'penalty': 'l2'}, 최적 평균 정확도:0.700
--

In [73]:
fd = pd.read_csv('C:/Users/jangd/OneDrive/사진/문서/GitHub/git_hub_0420/python/project/dataset/최종최종피쳐.csv')

In [74]:
fd

,Unnamed: 0,날짜,date,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수,시가총액대비,label,...,월_3,월_4,월_5,월_6,월_7,월_8,월_9,월_10,월_11,월_12
0,0,2005-01-31,2005-01-01,932.700012,0.041053,8538,-9523,984,42.9,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2005-02-28,2005-02-01,1011.359985,0.084336,14654,-5725,-8928,42.7,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2005-03-31,2005-03-01,965.679993,-0.045167,-20741,3820,16920,42.2,0,...,1,0,0,0,0,0,0,0,0,0
3,3,2005-04-29,2005-04-01,911.299988,-0.056313,-3243,2291,955,41.9,0,...,0,1,0,0,0,0,0,0,0,0
4,4,2005-05-31,2005-05-01,970.210022,0.064644,1048,-18304,17254,41.7,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,202,2021-11-30,2021-11-01,2839.010010,-0.044323,11342,16641,-27380,33.0,1,...,0,0,0,0,0,0,0,0,1,0
203,203,2021-12-30,2021-12-01,2977.649902,0.048834,15250,-30452,15846,33.5,1,...,0,0,0,0,0,0,0,0,0,1
204,204,2022-01-28,2022-01-01,2663.340088,-0.105556,-389,12674,6687,32.7,1,...,0,0,0,0,0,0,0,0,0,0
205,205,2022-02-28,2022-02-01,2699.179932,0.013457,-6207,-10135,-3629,32.4,1,...,0,0,0,0,0,0,0,0,0,0
206,206,2022-03-31,2022-03-01,2757.649902,0.021662,-23373,-3604,6022,31.6,1,...,1,0,0,0,0,0,0,0,0,0

In [75]:
fd.drop('Unnamed: 0', axis=1, inplace=True)

In [76]:
fd['등락률label'] = fd['등락률label'].astype('category')

In [77]:
fd['label'] = fd['label'].astype('category')

In [79]:
X = fd[['외국인순매수',
'기관순매수',
'개인순매수',
'시가총액대비',
'label']]

In [80]:
y = fd['등락률label']

In [81]:
# StandardScaler()로 평균이 0, 분산 1과 데이터 분포도 현황
scaler = StandardScaler()
data_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(
    data_scaled, y, test_size=0.3, random_state = 0)

In [82]:
# 로지스틱 회귀를 이용하여 학습 및 예측 수행. 
lr_clf = LogisticRegression()

lr_clf.fit(X_train, y_train)

lr_preds = lr_clf.predict(X_test)

# accuracy와 roc_auc 측정
print('accuracy: {:0.3f}'.format(accuracy_score(y_test, lr_preds)))
print('roc_auc: {:0.3f}'.format(roc_auc_score(y_test, lr_preds)))

accuracy: 0.683
roc_auc: 0.668

In [83]:
from sklearn.model_selection import GridSearchCV

params = {'penalty': ['l2', 'l1'], 'C': [0.01, 0.1, 1, 1, 5, 10]}

grid_clf = GridSearchCV(lr_clf, param_grid =params, scoring = 'accuracy', cv=3)
grid_clf.fit(data_scaled, fd_target)
print('최적 하이퍼 파라미터:{0}, 최적 평균 정확도:{1:.3f}'.format(grid_clf.best_params_, grid_clf.best_score_))

최적 하이퍼 파라미터:{'C': 0.1, 'penalty': 'l2'}, 최적 평균 정확도:0.700

C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
18 fits failed out of a total of 36.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\jangd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.66666667        nan 0.70048309        nan 0.68599034        nan
 0.68599034        nan 0.68115942        nan 0.6763285         nan]
  warnings.warn(

In [84]:
def scatter1():
    import matplotlib.pylab as plt
    import matplotlib as mpl
    mpl.rc('font', family='Malgun Gothic') #한글 폰트 설정
    #
    plt.scatter(X[:,0][y==0], X[:,1][y==0], label='0', marker='o')
    plt.scatter(X[:,0][y==1], X[:,1][y==1], label='1', marker='^')
    #
    plt.title('분포도')
    plt.xlabel('x1')
    plt.ylabel('x2')
    plt.legend() #범례
    plt.show()
scatter1()

InvalidIndexError: (slice(None, None, None), 0)