In [2]:
import pandas as pd

In [3]:
fill=pd.read_csv('C:/Users/jangd/OneDrive/사진/문서/GitHub/git_hub_0420/python/project/dataset/pre_kospi.csv')
fill.drop('등락율',axis=1,inplace=True)
fill['날짜']=pd.to_datetime(fill['날짜'])
fill.dtypes

Unnamed: 0             int64
종가                   float64
날짜            datetime64[ns]
개인순매수                  int64
외국인순매수                 int64
기관순매수                  int64
dtype: object

In [4]:
fill_first=[]

for i in range(0,6322):
    fill_first.append(i)
fill_first=pd.DataFrame(fill_first)
fill_first['날짜']=pd.date_range(start='2005-01-03',end='2022-04-25')
fill_first.columns=['처음','날짜']
fill_first.drop('처음',axis=1,inplace=True)
fill_first['날짜']=pd.to_datetime(fill_first['날짜'])
fill_first.dtypes

날짜    datetime64[ns]
dtype: object

In [5]:
fill_merge=pd.merge(left = fill_first, right = fill, how = "left", on = "날짜")
fill_merge

             날짜  Unnamed: 0       종가    개인순매수  외국인순매수   기관순매수
0    2005-01-03      4280.0   893.71   -488.0   995.0  -507.0
1    2005-01-04      4279.0   886.90    -63.0   397.0  -334.0
2    2005-01-05      4278.0   885.19     10.0   246.0  -256.0
3    2005-01-06      4277.0   871.28    858.0    -6.0  -852.0
4    2005-01-07      4276.0   870.84   1143.0   178.0 -1321.0
...         ...         ...      ...      ...     ...     ...
6317 2022-04-21         2.0  2728.21  -5667.0  -597.0  6366.0
6318 2022-04-22         1.0  2704.71   8362.0 -1556.0 -6975.0
6319 2022-04-23         NaN      NaN      NaN     NaN     NaN
6320 2022-04-24         NaN      NaN      NaN     NaN     NaN
6321 2022-04-25         0.0  2657.13  10221.0 -6542.0 -3825.0

[6322 rows x 6 columns]

In [6]:
fill_full=fill_merge.bfill()
fill_full.dtypes

날짜            datetime64[ns]
Unnamed: 0           float64
종가                   float64
개인순매수                float64
외국인순매수               float64
기관순매수                float64
dtype: object

In [7]:
import datetime

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)  # this will never fail
    return next_month - datetime.timedelta(days=next_month.day)
month_last_day=[]
for j in range(2005,2023):
    for month in range(1, 13):
        month_last_day.append(last_day_of_month(datetime.date(j, month, 1)))
month_last_day_df=pd.DataFrame(month_last_day)
month_last_day_df.columns=['날짜']
month_last_day_df['날짜']=pd.to_datetime(month_last_day_df['날짜'])
month_last_day_df.dtypes

날짜    datetime64[ns]
dtype: object

In [8]:
fill_final=pd.merge(left = month_last_day_df, right = fill_full, how = "left", on = "날짜")

fill_final.drop(index=[207,208,209,210,211,212,213,214,215],inplace=True)
fill_final.columns=['날짜','아','종가','개인순매수','외국인순매수','기관순매수']
fill_final.drop('아',axis=1,inplace=True)

In [9]:
fill_final["전월대비 등락률"] = (fill_final["종가"]-fill_final["종가"].shift(1))*100/fill_final["종가"].shift(1)

In [10]:
fill_final.drop(['종가','개인순매수','외국인순매수','기관순매수'],axis=1,inplace=True)

In [11]:
fill_final.to_csv('결측치_채워준_월별데이터.csv')
fill_final

            날짜  전월대비 등락률
0   2005-01-31       NaN
1   2005-02-28  8.433580
2   2005-03-31 -4.516690
3   2005-04-30 -4.893961
4   2005-05-31  5.639032
..         ...       ...
202 2021-11-30 -4.697308
203 2021-12-31  5.275078
204 2022-01-31 -9.400188
205 2022-02-28 -0.319076
206 2022-03-31  2.166213

[207 rows x 2 columns]

In [12]:
fill_df=pd.read_csv('C:/Users/jangd/OneDrive/사진/문서/GitHub/git_hub_0420/python/project/dataset/결측치_채워준_월별데이터.csv')

In [13]:
fill_df['날짜']=pd.to_datetime(fill_df['날짜'])
fill_df.dtypes

Unnamed: 0             int64
날짜            datetime64[ns]
전월대비 등락률             float64
dtype: object

In [14]:
fill_df

     Unnamed: 0         날짜  전월대비 등락률
0             0 2005-01-31       NaN
1             1 2005-02-28  8.433580
2             2 2005-03-31 -4.516690
3             3 2005-04-30 -4.893961
4             4 2005-05-31  5.639032
..          ...        ...       ...
202         202 2021-11-30 -4.697308
203         203 2021-12-31  5.275078
204         204 2022-01-31 -9.400188
205         205 2022-02-28 -0.319076
206         206 2022-03-31  2.166213

[207 rows x 3 columns]

In [15]:
fill_df_1=pd.read_csv('C:/Users/jangd/OneDrive/사진/문서/GitHub/git_hub_0420/python/project/dataset/동행지수레이블.csv')
fill_df_1.columns=('야','날짜','동행지수','선행지수','label')
fill_df_1.drop('야',axis=1,inplace=True)
fill_df_1['날짜']=pd.to_datetime(fill_df_1['날짜'])
fill_df_1['날짜']=fill_df['날짜']

In [16]:
fill_merge=pd.merge(fill_df,fill_df_1,how='outer',on='날짜')
fill_merge.columns=('야','날짜','전월대비 등락률','동행지수','선행지수','label')
fill_merge.drop('야',axis=1,inplace=True)

In [18]:
fill_merge.to_csv('월별대비등락률과동행지수그리고레이블링.csv')