In [59]:
import pandas as pd
import yfinance as yf
import numpy as np

In [79]:
start_date = '2005-01-01'
end_date = '2022-04-01'
data = yf.download(['USDKRW=X'],start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [92]:

data_df=pd.DataFrame(data['Close'])
data_df.columns=['환율']
data_df['날짜']=data_df.index
data_df
# df_new = data_df.rename( index={'Date':'날짜'})

                     환율         날짜
Date
2004-12-31  1002.599976 2004-12-31
2005-01-03  1027.300049 2005-01-03
2005-01-04  1028.699951 2005-01-04
2005-01-05  1035.800049 2005-01-05
2005-01-06  1048.400024 2005-01-06
...                 ...        ...
2022-03-25  1217.550049 2022-03-25
2022-03-28  1224.380005 2022-03-28
2022-03-29  1223.660034 2022-03-29
2022-03-30  1209.130005 2022-03-30
2022-03-31  1210.439941 2022-03-31

[4470 rows x 2 columns]

In [93]:
final=pd.read_csv('C:/Users/jangd/OneDrive/사진/문서/GitHub/git_hub_0420/python/project/dataset/최종데이터셋_주체모두_코스피종가_등락률까지.csv')
final['날짜']=pd.to_datetime(final['날짜'])
final

,Unnamed: 0,날짜,date,년도,월,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수
0,0,2005-01-31,2005 01,2005,1,932.700012,0.041053,8538,-9523,984
1,1,2005-02-28,2005 02,2005,2,1011.359985,0.084336,14654,-5725,-8928
2,2,2005-03-31,2005 03,2005,3,965.679993,-0.045167,-20741,3820,16920
3,3,2005-04-29,2005 04,2005,4,911.299988,-0.056313,-3243,2291,955
4,4,2005-05-31,2005 05,2005,5,970.210022,0.064644,1048,-18304,17254
...,...,...,...,...,...,...,...,...,...,...
203,203,2021-12-30,2021 12,2021,12,2977.649902,0.048834,15250,-30452,15846
204,204,2022-01-28,2022 01,2022,1,2663.340088,-0.105556,-389,12674,6687
205,205,2022-02-28,2022 02,2022,2,2699.179932,0.013457,-6207,-10135,-3629
206,206,2022-03-31,2022 03,2022,3,2757.649902,0.021662,-23373,-3604,6022
207,207,2022-04-22,2022 04,2022,4,2704.709961,-0.022700,-19037,7021,6048

In [94]:
final_1=pd.merge(final,data_df,how='left',on='날짜')
final_1

,Unnamed: 0,날짜,date,년도,월,종가,전월대비 등락률,외국인순매수,개인순매수,기관순매수,환율
0,0,2005-01-31,2005 01,2005,1,932.700012,0.041053,8538,-9523,984,1025.410034
1,1,2005-02-28,2005 02,2005,2,1011.359985,0.084336,14654,-5725,-8928,1003.799988
2,2,2005-03-31,2005 03,2005,3,965.679993,-0.045167,-20741,3820,16920,1017.000000
3,3,2005-04-29,2005 04,2005,4,911.299988,-0.056313,-3243,2291,955,996.659973
4,4,2005-05-31,2005 05,2005,5,970.210022,0.064644,1048,-18304,17254,1007.000000
...,...,...,...,...,...,...,...,...,...,...,...
203,203,2021-12-30,2021 12,2021,12,2977.649902,0.048834,15250,-30452,15846,1183.670044
204,204,2022-01-28,2022 01,2022,1,2663.340088,-0.105556,-389,12674,6687,1203.459961
205,205,2022-02-28,2022 02,2022,2,2699.179932,0.013457,-6207,-10135,-3629,1197.589966
206,206,2022-03-31,2022 03,2022,3,2757.649902,0.021662,-23373,-3604,6022,1210.439941
207,207,2022-04-22,2022 04,2022,4,2704.709961,-0.022700,-19037,7021,6048,NaN

In [75]:
final_2=final_1[['날짜','환율']]

In [76]:
final_2.to_csv('환율.csv')